.reveal section img {
  background: none;
  border: none;
  box-shadow: none; }

.reveal section .spin {
  animation: spin 2s linear infinite; }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(-360deg); } }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

.reveal section a:hover img {
  box-shadow: none;
  filter: drop-shadow(1px 1px 5px #aaa);
  background: none;
  border: none; }

.reveal .open-source div {
  display: flex;
  justify-content: space-around; }
  .reveal .open-source div .github-link img {
    margin: 0;
    height: 32px; }

.reveal .browser-alternatives {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch; }

.reveal .trends iframe {
  border: none !important;
  width: 75%; }

.reveal .react .properties, .reveal .vuejs .properties, .reveal .polymer .properties, .reveal .angular .properties, .reveal .offline .properties {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch; }

.reveal .installable i, .reveal .up-to-date i, .reveal .offline i, .reveal .secured i, .reveal .notification i {
  font-size: 25vh; }

.reveal .vern-diagram-js .container {
  height: 50vh;
  color: black;
  vertical-align: middle;
  text-align: center; }
  .reveal .vern-diagram-js .container .circle {
    position: absolute;
    left: 25vh;
    border-radius: 50%; }
  .reveal .vern-diagram-js .container .big {
    width: 50vh;
    height: 50vh;
    line-height: 30vh; }
  .reveal .vern-diagram-js .container .medium {
    left: 35vh;
    top: 22vh;
    width: 30vh;
    height: 30vh;
    line-height: 30vh; }
  .reveal .vern-diagram-js .container .mini {
    left: 45vh;
    top: 42vh;
    width: 10vh;
    height: 10vh;
    line-height: 10vh; }
  .reveal .vern-diagram-js .container .js {
    background-color: yellow; }
  .reveal .vern-diagram-js .container .ts {
    color: white;
    background-color: dodgerblue; }
  .reveal .vern-diagram-js .container .es2015 {
    background-color: darkorange; }

.reveal .language-in-angular .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch; }

.reveal .terminal .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch; }

.reveal .muted {
  color: #999999; }

.reveal .slide-background.angular {
  background-size: contain;
  background: url("../../../img/pastpresentfuture/frameworks/background_angular.png") no-repeat bottom center, linear-gradient(145deg, #0D47A1, #42A5F5); }
