.reveal section img {
  background: none;
  border: none;
  box-shadow: none; }

.reveal section a:hover img {
  box-shadow: none;
  filter: drop-shadow(1px 1px 5px #aaa); }

.reveal .open-source div {
  display: flex;
  justify-content: space-around; }
  .reveal .open-source div .github-link img {
    margin: 0;
    height: 32px; }

.reveal .browser-alternatives {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch; }

.reveal .trends iframe {
  border: none !important;
  width: 75%; }

.reveal .react .properties, .reveal .vuejs .properties, .reveal .polymer .properties, .reveal .angular .properties {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch; }

.reveal .slide-background.angular {
  background-size: contain;
  background: url("../../../img/pastpresentfuture/frameworks/background_angular.png") no-repeat bottom center, linear-gradient(145deg, #0D47A1, #42A5F5); }
