<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>Angular-Formation</title>

	<link rel="stylesheet" href="css/reveal.css">
	<link rel="stylesheet" href="css/theme/black.css">
	<link rel="stylesheet" href="css/theme/custom.css">

	<!-- Theme used for syntax highlighting of code -->
	<link rel="stylesheet" href="plugin/highlight/styles/darcula.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Printing and PDF exports -->
	<script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
	</script>
</head>
<body>
<div class="reveal">
	<div class="slides">
		<section>
			<img src="img/angular.svg" alt="angular logo" width="512px">
			<h2>Angular Formation</h2>
		</section>
		<section id="introduction">
			<section>
				<h3>DAVIN Kevin</h3>
				<img data-src="https://avatars0.githubusercontent.com/u/1970922?v=3&s=460" alt="avatar"/>
				<p><a href="http://twitter.com/davinkevin">@davinkevin</a></p>
				<ul>
					<li>Full-stack² Dev</li>
					<li>Agile Addict !</li>
					<li>Main committer on AngularJS's lib</li>
					<li>Angular, Java and other tech Trainer</li>
				</ul>
			</section>
			<section data-background-image="img/summary/learn.jpg">
				<h3>Everyone will learn !</h3>
			</section>
			<section data-background-image="img/summary/question.jpg">
				<p class="fragment">There are no stupid questions,</p>
				<p class="fragment">only stupid answers</p>
				<p class="fragment"><a href="https://twitter.com/alberteinstein">@AlbertEinstein</a></p>
			</section>
			<section data-background-color="white" class="open-source">
				<img src="img/summary/opensource.png" alt="Open Source" width="25%" height="25%" >
				<div>
					<a href="https://github.com/davinkevin/angular-formation/" class="github-link">
						<img src="img/summary/github.png" alt="github logo">
						Slides
					</a>
					<a href="https://github.com/davinkevin/gelato-italiano/" class="github-link">
						<img src="img/summary/github.png" alt="github logo">
						Practice
					</a>
				</div>
			</section>
			<section data-background-image="img/summary/collaborative.jpg" class="collaborative">
				<p class="fragment">Errors, better way to do, idea ? <span class="fragment">Contribute !</span></p>
			</section>
		</section>
		<section id="summary">
			<h3>Summary</h3>
			<ul>
				<li>The past, present and future</li>
				<!--
				 From Web 2.0, modern browser, the language...
				-->
				<li>Angular as a platform</li>
				<!--
				 AngularJS, Angular, AngularCLI, Typescript, Compiler, AOT, RxJS
				-->
				<li>Deep dive into Angular</li>
				<!--
				 @Component, Service, @NgModule, FormTemplate, ReactiveForm
				-->
				<li>Testing for real !</li>
				<!--
				 Unit testing, End-To-End Testing
				-->
			</ul>
		</section>
		<section id="past_present_future">
			<section data-background-color="black" data-background-image="img/pastpresentfuture/a-long-time-ago-in-a-galaxy-far-far-away.png">
				&nbsp;
			</section>
			<section>
				<p>Before 2003, the web was mostly...</p>
			</section>
			<section data-background-color="whitesmoke">
				<h3>Microsoft Internet Explorer 6</h3>
				<img src="img/pastpresentfuture/browsers/ie6.png" alt="ie6" width="300vh">
				<p class="fragment">Major browser version of Microsoft during 5 years !</p>
			</section>
			<section>
				<p>And something change everything...</p>
				<p class="fragment">in 2004 ?</p>
			</section>
			<section data-background-image="img/pastpresentfuture/browsers/new_challenger_approaching.gif">
				&nbsp;
			</section>
			<section data-background-color="#d93a33">
				<h3>Mozilla Firefox</h3>
				<img src="img/pastpresentfuture/browsers/logo_firefox.png" alt="firefox" width="300vh">
				<p>Supports Javascript | W3C | Standard API</p>
				<aside class="notes">
					Release : 2004-10-27
				</aside>
			</section>
			<section data-background-color="#fff">
				<h3>Google Chrome</h3>
				<img src="img/pastpresentfuture/browsers/logo_chrome.png" alt="chrome" width="300vh">
				<p>Supports Javascript | W3C | Standard API</p>
				<p class="fragment">and wonderful tools for web developer</p>
				<aside class="notes">
					Release : 2008-12-11
				</aside>
			</section>
			<section>
				<h3>And lots of alternatives...</h3>
				<div class="browser-alternatives">
					<img src="img/pastpresentfuture/libraries/logo_edge.png" alt="edge" width="100vh">
					<img src="img/pastpresentfuture/browsers/logo_opera.png" alt="opera" width="125vh">
					<img src="img/pastpresentfuture/browsers/logo_safari.png" alt="safari" width="100vh">
					<img src="img/pastpresentfuture/browsers/logo_vivaldi.png" alt="vivaldi" width="100vh">
				</div>
			</section>
			<section>
				<h3>And some other(s) disappear</h3>
				<div class="browser-alternatives">
					<img src="img/pastpresentfuture/browsers/logo_ie6_without_text.png" alt="ie6" width="100vh">
					<img src="img/pastpresentfuture/browsers/logo_ie7.png" alt="ie6" width="100vh">
					<img src="img/pastpresentfuture/browsers/logo_ie9.png" alt="ie6" width="100vh">
					<img src="img/pastpresentfuture/browsers/logo_ie11.png" alt="ie6" width="100vh">
				</div>
			</section>
			<section data-background-color="#244f80">
				<a href="http://gs.statcounter.com/#desktop-browser-ww-yearly-2008-2017" target="_blank">
					<img src="img/pastpresentfuture/browsers/browser_comparison_market_share.png" alt="stats browser market share">
				</a>
			</section>
		</section>
		<section id="past_present_future__libraries">
			<section data-background-image="https://media.giphy.com/media/nWZOsARnPxlK0/giphy.gif">
				<h3>We have multiple browser...</h3>
				<p>... so we have to adapt our website for each of them</p>
			</section>
			<section data-background-image="https://media.giphy.com/media/AP6TT7YkqHVQY/giphy.gif">
				<p>... or we can use libraries to abstract complexity !</p>
			</section>
			<section data-background-color="#0769ad">
				<img src="img/pastpresentfuture/libraries/logo_jquery.png" alt="jquery" width="300vh">
				<p>Javascript based</p>
				<p>Support all browser with only one syntax</p>
			</section>
			<section data-background-color="#f02541">
				<img src="img/pastpresentfuture/libraries/logo_dojo.png" alt="dojo" width="300vh">
				<p>Javascript based</p>
				<p>Support all browser with only one syntax</p>
			</section>
			<section data-background-color="#dadada">
				<h3>ExtJS</h3>
				<img src="img/pastpresentfuture/libraries/logo_extjs.png" alt="extjs" width="300vh">
				<p>Javascript based</p>
				<p>User Interface Library</p>
			</section>

			<section data-background-color="#c10c06">
				<p>Others prefers...</p>
				<img src="img/pastpresentfuture/libraries/change_everything.png" alt="change everything" width="300vh">
			</section>

			<section data-background-color="black">
				<h3>Adobe Flash</h3>
				<img src="img/pastpresentfuture/libraries/logo_flash.png" alt="flash" width="300vh">
				<p>ActionScript executed in a plugin</p>
				<p>From 1996 to 2016</p>
				<p class="fragment">(more or less...)</p>
			</section>
			<section data-background-color="whitesmoke">
				<h3>Microsoft SilverLight</h3>
				<img src="img/pastpresentfuture/libraries/logo_silverlight.png" alt="silverLight" width="300vh">
				<p>C#, .NET... executed in a plugin</p>
				<p>From 2007 to 2011</p>
			</section>
			<section data-background-color="#7b1825">
				<h3>Google GWT</h3>
				<img src="img/pastpresentfuture/libraries/logo_gwt.png" alt="gwt" width="300vh">
				<p>JS generated from Java at compile-time !</p>
				<p>Since 2006 and still here !</p>
			</section>
		</section>
		<section id="past_present_future__frameworks_gen1">
			<section data-background-image="img/pastpresentfuture/frameworks/rise_01.jpg">
				&nbsp;
				<!-- TODO : Find image for the idea 'Rise of the framework' -->
			</section>
			<section>
				<p>Since 2009, a lots of JS frameworks appear</p>
			</section>
			<section data-background-color="whitesmoke">
				<img src="img/pastpresentfuture/frameworks/logo_backbone.png" alt="backbonejs">
				<aside class="notes">
					<p>jQuery based, template engine...</p>
				</aside>
			</section>
			<section data-background-color="#c26a1b">
				<img src="img/pastpresentfuture/frameworks/logo_knockout.png" alt="knockout">
			</section>
			<section data-background-color="#E14A30">
				<img src="img/pastpresentfuture/frameworks/logo_emberjs.png" alt="emberjs">
			</section>
			<section data-background-color="#e1e1e1">
				<img src="img/pastpresentfuture/frameworks/logo_angularjs.png" alt="angularjs">
			</section>
			<section data-background-color="#eeeeee" class="trends">
				<h3>Popularity of each</h3>
				<iframe data-src="/trends/old_framework_comparison.html" width="445" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:3px solid #666; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
			</section>
		</section>
		<section id="past_present_future__frameworks_gen2">
			<section data-background-image="img/pastpresentfuture/frameworks/rise_02.jpg">
				<!-- TODO : New generation comes ! -->
			</section>
			<section>
				<p>Learning from previous generation mistakes...</p>
				<p>... new frameworks rise</p>
			</section>
			<section class="react">
				<img src="img/pastpresentfuture/frameworks/logo_react.svg" alt="react">
				<div class="properties">
					<span>View Oriented</span>
					<span>JSX format</span>
					<span>Declarative</span>
					<span>High Performance</span>
				</div>
			</section>
			<section data-background-color="#727f80" class="vuejs">
				<img src="img/pastpresentfuture/frameworks/logo_vuejs.png" alt="vuejs">
				<div class="properties">
					<span>Approachable</span>
					<span>Versatile</span>
					<span>Performant</span>
				</div>
			</section>
			<section class="polymer" data-background-image="img/pastpresentfuture/frameworks/background_polymer.png" data-background-color="whitesmoke">
				<img src="img/pastpresentfuture/frameworks/logo_polymer.png" alt="polymer">
				<div class="properties">
					<span>Web-Component</span>
					<span>Following W3C Specs</span>
					<span>Lightweight</span>
				</div>
			</section>
			<section class="angular" data-state="angular">
				<img src="img/pastpresentfuture/frameworks/logo_angular.svg" alt="angular" width="400vh">
				<div class="properties">
					<span>Full Component</span>
					<span>Platform</span>
					<span>High Performance</span>
				</div>
			</section>
			<section data-background-color="#eeeeee" class="trends">
				<h3>Popularity of each</h3>
				<iframe data-src="/trends/new_framework_comparison.html" width="445" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:3px solid #666; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
			</section>
		</section>
		<section id="past_present_future__pwa">
			<section data-background-image="img/pastpresentfuture/future.gif">
				&nbsp;
			</section>
			<section>
				<p>We have to built better, smarter and simpler application</p>
				<p class="fragment">We call it, Progressive-Web-App</p>
			</section>
			<section>
				<h3>Progressive</h3>
			</section>
			<section>
				<h3>Responsive</h3>
				<img src="img/pastpresentfuture/future/responsive.png" alt="responsive">
			</section>
			<section class="up-to-date">
				<h3>Always up-to-date</h3>
				<i class="material-icons spin">sync</i>
			</section>
			<section class="installable">
				<h3>Installable</h3>
				<i class="material-icons">get_app</i>
			</section>
			<section class="offline">
				<h3>Offline</h3>
				<div class="properties">
					<img src="img/pastpresentfuture/future/signal-cellular-0-bar.svg" alt="signal at 0" width="200vh" style="filter: invert(100%);">
					<img src="img/pastpresentfuture/future/signal-cellular-1-bar.svg" alt="signal at 1" width="200vh" style="filter: invert(100%);" class="fragment">
					<img src="img/pastpresentfuture/future/signal-cellular-4-bar.svg" alt="signal at 4" width="200vh" style="filter: invert(100%);">
					<!-- http://elancer.lk/chart_sys/assets/less/icons/material-design-iconic-font/svg/device/ -->
				</div>
			</section>
			<section class="secured">
				<h3>Secured</h3>
				<i class="material-icons">https</i>
			</section>
			<section class="notification">
				<h3>Re-engageable</h3>
				<i class="material-icons">notifications</i>
			</section>
		</section>
		<section id="past_present_future__language">
			<section data-background-color="#F7DF1E">
				<img src="img/pastpresentfuture/language/javascript.png" alt="javascript">
			</section>
			<section data-background-image="img/pastpresentfuture/language/whatisjavascript.gif">
				&nbsp;
			</section>
			<section>
				<p>Javascript is becoming the assembly language of the web</p>
			</section>
			<section data-background-color="whitesmoke">
				<img src="img/pastpresentfuture/language/history_of_js.png" alt="history">
			</section>
			<section data-background-color="#0079CA">
				<img src="img/pastpresentfuture/language/typescript.png" alt="typescript" width="300vh">
			</section>
			<section class="vern-diagram-js">
				<div class="container">
					<div data-fragment-index="3" class="circle big ts fragment">TypeScript</div>
					<div data-fragment-index="2" class="circle medium es2015 fragment">ES2015</div>
					<div data-fragment-index="1" class="circle mini js fragment">JS</div>
				</div>
			</section>
		</section>
		<section id="angular_language">
			<section class="language-in-angular">
				<h3>In Angular world, you can choose </h3>
				<div class="container">
					<img data-fragment-index="3" class="fragment" src="img/pastpresentfuture/language/javascript.png" alt="js" width="100vh">
					<img data-fragment-index="2" class="fragment" src="img/pastpresentfuture/language/es2015.jpg" alt="es2015" width="100vh">
					<img data-fragment-index="1" class="fragment" src="img/pastpresentfuture/language/typescript.png" alt="js" width="100vh">
					<img data-fragment-index="4" class="fragment" src="img/pastpresentfuture/language/dart.png" alt="js" width="100vh">
				</div>
				<p class="fragment">This is why we call it Angular</p>
			</section>
			<section>
				<h4>Angular internally is written in </h4>
				<img data-fragment-index="1" class="fragment" src="img/pastpresentfuture/language/typescript.png" alt="js" width="100vh">
				<p class="fragment">and this language is preferred (it simpler to use and learn)</p>
			</section>
			<section>
				<h3>Angular2 Dart</h3>
				<p>Separate team, separate implementation, separate versions</p>
			</section>
		</section>
		<section id="little_example_of_code">
			<section>
				<img src="img/little_example_of_code/quote_linus_about_code.jpg" alt="show me the code">
			</section>
			<section>
				<p>So, a little example of Angular App</p>
				<blockquote class="fragment">
					Demo time is generally when something goes wrong...
				</blockquote>
			</section>
		</section>
		<section id="recap_after_demo">
			<section>
				<h3>What we just seen ?</h3>
				<ul>
					<li><code>@Component</code></li>
					<li><code>@NgModule</code></li>
					<li>Use of Pipe and Directive in HTML</li>
				</ul>
			</section>
			<section>
				<h3>Did you see something else ?</h3>
			</section>
		</section>
		<section id="our_practical_exercise">
			<section data-background-image="img/our_practical_exercise/ice-cream.jpg">
				<h3>Do you like Ice-cream ?</h3>
			</section>
			<section>
				<p>We will build the web-site of an Ice-Cream company...</p>
				<p class="fragment">Any resemblance to real and actual brands is purely coincidental</p>
			</section>
			<section data-background-image="img/our_practical_exercise/tools.jpg">
				<h3>To do that</h3>
				<h3>We need to have good tools</h3>
			</section>
			<section data-background-color="#333">
				<h3>NodeJS</h3>
				<a href="https://nodejs.org/en/">
					<img src="img/our_practical_exercise/logo_nodejs.svg" alt="nodejs">
				</a>
			</section>
			<section data-background-color="#d32f2f">
				<h3>AngularCLI</h3>
				<a href="https://github.com/angular/angular-cli">
					<img src="img/our_practical_exercise/cli-logo.svg" alt="cli">
				</a>
			</section>
			<section data-background-color="#3b3e43">
				<h3>WebStorm</h3>
				<a href="https://www.jetbrains.com/webstorm/">
					<img src="img/our_practical_exercise/jetbrains/icon_WebStorm.svg" alt="webstorm" width="300vh">
				</a>
			</section>
			<section data-background-color="#3b3e43">
				<h3>IntelliJ IDEA Ultimate</h3>
				<a href="https://www.jetbrains.com/idea/">
					<img src="img/our_practical_exercise/jetbrains/icon_IntelliJIDEA.svg" alt="idea" width="300vh">
				</a>
			</section>
			<section data-background-color="#373277">
				<h3>VSCode</h3>
				<a href="https://code.visualstudio.com/">
					<img src="img/our_practical_exercise/logo_vscode.png" alt="vscode" width="300vh">
				</a>
			</section>
			<section class="terminal">
				<h3>a Good Terminal App</h3>
				<div class="container">
					<img src="img/our_practical_exercise/logo_iterm2.png" alt="iterm2" width="105vh">
					<img src="img/our_practical_exercise/logo_powershell.png" alt="powershell" width="125vh">
					<img src="img/our_practical_exercise/logo_cmder.png" alt="cmder" width="95vh">
				</div>
			</section>
			<section data-background-image="img/our_practical_exercise/here_we_go.jpg">
				&nbsp;
			</section>
		</section>
		<section id="cli_101">
			<section data-background-image="img/cli_101/matrice.gif">
				<h3>Essential command for Angular CLI</h3>
			</section>
			<section>
				<h3>Create a project</h3>
				<pre><code class="hljs shell" data-trim data-noescape>
$ ng new <span class="fragment">&lt;NAME_OF_PROJECT&gt;</span> <span class="fragment">--prefix gi</span> <span class="fragment">--style sass</span>
				</code></pre>
			</section>
			<section>
				<h3>Generate an element</h3>
				<pre><code class="hljs shell" data-trim data-noescape>
$ ng generate <span class="fragment">component</span> <span class="fragment">&lt;NAME_OF_ELEMENT&gt;</span>
				</code></pre>
				<pre class="fragment"><code class="hljs shell" data-trim data-noescape>
$ ng g c &lt;NAME_OF_ELEMENT&gt;
				</code></pre>
				<p class="fragment">Can be used to generate <code>directive</code>, <code>pipe</code>, <code>service</code>, <code>class</code>, <code>interface</code>, <code>enum</code> and <code>module</code></p>
			</section>
			<section>
				<h3>Serve your App</h3>
				<pre><code class="hljs bash">
$ ng serve
				</code></pre>
			</section>
			<section>
				<h3>Test your app</h3>
				<pre><code class="hljs bash">
$ ng test
				</code></pre>
			</section>
			<section>
				<h3>Open the Angular doc</h3>
				<pre><code class="hljs bash">
$ ng doc &lt;SEARCH_WORD&gt;
				</code></pre>
			</section>
			<section>
				<h3>See help about the CLI</h3>
				<pre><code class="hljs bash">
$ ng --help
				</code></pre>
			</section>
		</section>
		<section id="anatomy_of_an_angular_app">
			<section data-background-image="img/anatomy_of_an_angular_app/homer-brain.jpg">
				&nbsp;
			</section>
			<section>
				<h3>Angular</h3>
				<p>All is about Component</p>
				<p class="fragment">EVERYWHERE !</p>
			</section>
			<section data-background="img/anatomy_of_an_angular_app/blocks.gif">
				&nbsp;
			</section>
			<section>
				<h3>An app are just some buildings block</h3>
				<img src="img/anatomy_of_an_angular_app/tree.svg" alt="tree" class="borderless">
			</section>
		</section>
		<section id="anatomy_of_a_component">
			<section data-background-image="img/anatomy_of_a_component/x-ray-tux.jpg">
				&nbsp;
			</section>
			<section>
				<h3>A component is:</h3>
				<ul>
					<li class="fragment">Logic in TypeScript</li>
					<li class="fragment">Vue in HTML</li>
					<li class="fragment">Style in SASS (or other)</li>
				</ul>
			</section>
		</section>
		<section id="anatomy_of_a_component__template">
			<section>
				<h3>Template</h3>
				<pre><code class="hljs html">
&lt;div&gt; My title is {{ title }} &lt;/div&gt;
				</code></pre>
			</section>
			<section>
				<h3>Property Bindings</h3>
				<p>We use standard HTML for property binding</p>
				<div>
					<pre><code class="hljs html">
&lt;h3 [hidden]="isHidden" [class.active]="favoriteHero === hero" &gt;
  Your favorite hero is: {{ favoriteHero }}
&lt;/h3&gt;
					</code></pre>
				</div>
			</section>
			<section>
				<h3>Structural Directive</h3>
				<p>All the directive inducing a dom modification outside of the current element are called <b>Structural Directive</b></p>
				<ul>
					<li>ng-if</li>
					<li>ng-switch</li>
					<li>ng-repeat</li>
				</ul>
			</section>
			<section>
				<h3>The syntax is little bit special...</h3>
				<pre><code class="hljs html">
&lt;p *ngIf="condition"&gt;
  condition is true so this block is shown.
&lt;/p&gt;
				</code></pre>
				<pre><code class="hljs html">&lt;tr *ngFor="let movie of movies"&gt;{{movie.name}}&lt;/tr&gt;</code></pre>
				<p class="fragment">But Why ?</p>
			</section>
			<section>
				<h3>Using <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/template">HTML Template Element</a></h3>
				<pre><code class="hljs html">
&lt;template&gt;
    &lt;div&gt;A super template !&lt;/div&gt;
&lt;/template&gt;</code></pre>
				<p>This template isn't rendered by the browser but can be used</p>
			</section>
			<section>
				<h3>The asterisk (*) effect</h3>
				<pre><code class="hljs html">&lt;p *ngIf="condition"&gt;
    A super template !
&lt;/p&gt;</code></pre>
				<pre><code class="hljs html">
&lt;template [ngIf]="condition"&gt;
  &lt;p&gt;
    A super template !
  &lt;/p&gt;
&lt;/template&gt;</code></pre>
				<p class="fragment">So, the * is just a syntaxic sugar</p>
				<p class="fragment">And we can write our own Structural Directive !</p>
			</section>
			<section>
				<h3>Local template variable</h3>
				<p>We can define a template variable associated to a dom element</p>
				<pre><code class="hljs html">
&lt;video #player src="foo.mp4"&gt;&lt;/video&gt;
&lt;button (click)="player.play()"&gt;&lt;/button&gt;
				</code></pre>
			</section>
		</section>
		<section id="anatomy_of_a_component__logic">
			<section>
				<h3>Component Logic</h3>
				<p>The brain of the component...</p>
			</section>
			<section data-background-image="img/anatomy_of_a_component/logic/brain.gif">
				&nbsp;
			</section>
			<section>
				<h3>Shell up a Component Declaration</h3>
				<pre><code class="hljs typescript">
import { Component } from 'angular2/core';

@Component({
 selector: 'todo',
 template: `&lt;h1&gt;{{ title }}&lt;/h1&gt;`
})
export class TodoComp {
  title : String = 'A super presentation !!';
}
				</code></pre>
			</section>
			<section>
				<h3>Using a service in my component</h3>
				<pre><code class="hljs javascript">
import { Component } from 'angular2/core';
import { MyService } from './myservice';

@Component({
 selector: 'todo',
 template: `&lt;h1&gt;{{ title }}&lt;/h1&gt;`
})
export class TodoComp {
  title : String = 'A super presentation !!';

  constructor(private _myService : MyService){} // DI by constructor
}
				</code></pre>
			</section>
			<section data-transition="none-out">
				<h3>Now, Components have an intuitive LifeCycle</h3>
				<ul>
					<li><b>OnChange</b><i class="fragment muted"> - input|output binding value changes</i></li>
					<li><b>OnInit</b><i class="fragment muted"> - after the 1st OnChange</i></li>
					<li><b>DoCheck</b><i class="fragment muted"> - dev's custom change detection</i></li>
					<li><b>AfterContentInit</b><i class="fragment muted"> - after comp content initialized</i></li>
					<li><b>AfterContentChecked</b><i class="fragment muted"> - after every check of comp content</i></li>
					<li><b>AfterViewInit</b><i class="fragment muted"> - after comp's view(s) are initialized</i></li>
					<li><b>AfterViewChecked</b><i class="fragment muted"> - after every check of a comp's view(s)</i></li>
					<li><b>OnDestroy</b><i class="fragment muted"> - just before destruction</i></li>
				</ul>
			</section>
			<section>
				<h3>And we can use Interface to declare it</h3>
				<pre><code class="hljs typescript">
import { Component } from 'angular2/core';
import { MyService } from './myservice';

@Component({
 selector: 'todo',
 template: `&lt;h1&gt;{{ title }}&lt;/h1&gt; &lt;emitter&gt;&lt;/emitter&gt;`,
})
export class TodoComp implements OnInit {
  title : String = 'A super presentation !!';
  constructor(private _myService : MyService){}

  ngOnInit() { console.log('The Component is initialised'); }
}
				</code></pre>
			</section>
		</section>
		<section id="anatomy_of_a_component__communication">
			<section>
				<h3>Communication</h3>
				<p>We have now a component, but we want to communicate with other element</p>
			</section>
			<section>
				<h3>Again, all is in component !</h3>
			</section>
			<section>
				<h3>Input(s)</h3>
				<pre class="fragment"><code class="hljs typescript">
import {Component, Input} from 'angular2/core';

@Component({
  selector: 'counter'
  template: `...`
})
export class CounterCmp {
  @Input() counterValue = 0;
}
				</code></pre>
				<pre class="fragment"><code class="hljs typescript">&lt;counter [counterValue]=&quot;10&quot;&gt;&lt;/counter&gt;</code></pre>
			</section>
			<section>
				<h3>Inputs(s) with Alias</h3>
				<pre><code class="hljs typescript">
import {Component, Input} from 'angular2/core';

@Component({
  selector: 'counter'
  template: `...`
})
export class CounterCmp {
  @Input('start') counterValue = 0;
}
				</code></pre>
				<pre class="fragment"><code class="hljs typescript">&lt;counter [start]=&quot;10&quot;&gt;&lt;/counter&gt;</code></pre>
			</section>
			<section>
				<h3>Output(s) as Events !</h3>
				<pre class="fragment"><code class="hljs typescript">
import {Component, Input} from 'angular2/core';

@Component({
  selector: 'counter'
  template: `...`
})
export class CounterCmp {
  @Input('start') counterValue = 0;
  @Output() stateEmitter = new EventEmitter&lt;State&gt;();
}
				</code></pre>
				<pre class="fragment"><code class="hljs html">&lt;counter [start]=&quot;10&quot; (stateEmitter)=&quot;show($event)&quot;&gt;&lt;/counter&gt;</code></pre>
			</section>
			<section>
				<h3>Output(s) with alias too (of course...)</h3>
				<pre class="fragment"><code class="hljs typescript">
import {Component, Input} from 'angular2/core';

@Component({
  selector: 'counter'
  template: `...`
})
export class CounterCmp {
  @Input('start') counterValue = 0;
  @Output('finish') stateEmitter = new EventEmitter&lt;State&gt;();

  finish() {
    this.stateEmitter.emit(myState);
  }
}
				</code></pre>
				<pre class="fragment"><code class="hljs html">&lt;counter [start]=&quot;10&quot; (finish)=&quot;show($event)&quot;&gt;&lt;/counter&gt;</code></pre>
			</section>
			<section>
				<h3>Bi-Directional communication</h3>
				<ul>
					<li>[Input] as data-binding</li>
					<li>(Output) as event-binding</li>
				</ul>
			</section>
			<section>
				<h3>NgModel Directive</h3>
				<pre><code class="hljs html">
&lt;input [(ngModel)]="foo.bar"&gt;
				</code></pre>
				<p>This syntax is a mix between property and event bindings</p>
			</section>
			<section data-background="img/anatomy_of_a_component/template/twowaybinding.png">&nbsp;</section>
		</section>
		<section id="modules">
			<section>
				<h3>Angular @NgModule</h3>
				<p>The house of a feature</p>
			</section>
		</section>
		<section id="injectable">
			<section>
				<h3>Including the business logic in service</h3>
				<p class="fragment">And use DI everywhere !</p>
			</section>
			<section>
				<h3>Create an <span style="font-style: italic;">injectable</span> service</h3>
				<pre><code class="hljs typescript" data-noescape>
<span class="fragment">@Injectable</span>
export class MyService {}
				</code></pre>
			</section>
			<section>
				<h3>Register it in providers</h3>
				<pre><code class="hljs typescript" data-noescape>
import {MyService} from './my.service.ts';

...

providers : [ <span class="fragment">MyService</span> ]

				</code></pre>
			</section>
			<section>
				<h3>Inject it !</h3>
				<pre><code class="hljs typescript" data-noescape>
import { Component } from 'angular2/core';
<span data-fragment-index="1" class="fragment">import {MyService} from './my.service.ts';</span>

@Component({...})
export class TodoComp {
  <span data-fragment-index="1" class="fragment">constructor(private myService: MyService){}</span>
}
				</code></pre>
			</section>
		</section>
		<section id="injector">
			<section>
				<h3>Hierarchical Injector</h3>
				<p class="fragment" data-fragment-index="1">The injector of Angular is inspirited by Dagger</p>
				<img data-fragment-index="1" class="fragment" src="img/injector/dagger.png" alt="dagger">
			</section>
		</section>

	</div>
</div>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.js"></script>

<script>
  // More info https://github.com/hakimel/reveal.js#configuration
  Reveal.initialize({
    history: true,

    // More info https://github.com/hakimel/reveal.js#dependencies
    dependencies: [
      { src: 'plugin/markdown/marked.js' },
      { src: 'plugin/markdown/markdown.js' },
      { src: 'plugin/notes/notes.js', async: true },
      { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
    ]
  });
</script>
</body>
</html>
