
// Global Modification :
.reveal section {
  img {
    background: none;
    border: none;
    box-shadow: none;
  }

  a:hover img {
    box-shadow: none;
    filter: drop-shadow(1px 1px 5px #aaa);
  }

}

// Slides modifications :
.reveal {
  .open-source {
    div {
      display: flex;
      justify-content: space-around;

      .github-link {
        img {
          margin:0;
          height: 32px;
        }
      }
    }
  }
}