
// Global Modification :
.reveal section {
  img {
    background: none;
    border: none;
    box-shadow: none;


  }

  .spin {
    animation:spin 2s linear infinite;
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }


  a:hover img {
    box-shadow: none;
    filter: drop-shadow(1px 1px 5px #aaa);
  }
}



// Slides modifications :
.reveal {
  .open-source {
    div {
      display: flex;
      justify-content: space-around;

      .github-link {
        img {
          margin:0;
          height: 32px;
        }
      }
    }
  }
  .browser-alternatives {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:center;
    align-content: stretch;
  }
  .trends {
    iframe {
      border: none !important;
      width: 75%;
    }
  }
  .react, .vuejs, .polymer, .angular, .offline {
    .properties {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:center;
    align-content: stretch;
    }
  }

  .installable, .up-to-date, .offline, .secured, .notification {
    i {
      font-size: 25vh;
    }
  }

  .slide-background.angular {
    background-size: contain;
    background: url("../../../img/pastpresentfuture/frameworks/background_angular.png") no-repeat bottom center,linear-gradient(145deg,#0D47A1,#42A5F5);
  }
}