
// Global Modification :
.reveal section {
  img {
    background: none;
    border: none;
    box-shadow: none;


  }

  .spin {
    animation:spin 2s linear infinite;
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }


  a:hover img {
    box-shadow: none;
    filter: drop-shadow(1px 1px 5px #aaa);
  }
}



// Slides modifications :
.reveal {
  .open-source {
    div {
      display: flex;
      justify-content: space-around;

      .github-link {
        img {
          margin:0;
          height: 32px;
        }
      }
    }
  }
  .browser-alternatives {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:center;
    align-content: stretch;
  }
  .trends {
    iframe {
      border: none !important;
      width: 75%;
    }
  }
  .react, .vuejs, .polymer, .angular, .offline {
    .properties {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:center;
    align-content: stretch;
    }
  }
  .installable, .up-to-date, .offline, .secured, .notification {
    i {
      font-size: 25vh;
    }
  }
  .vern-diagram-js {

    .container {

      height: 50vh;
      color: black;
      vertical-align: middle;
      text-align: center;

      .circle {
        position: absolute;
        left:25vh;
        border-radius: 50%;
      }

      .big {
        width:  50vh;
        height: 50vh;
        line-height: 30vh;
      }

      .medium {
        left:35vh;
        top: 22vh;
        width:  30vh;
        height: 30vh;
        line-height: 30vh;
      }

      .mini {
        left: 45vh;
        top: 42vh;
        width:  10vh;
        height: 10vh;
        line-height: 10vh;
      }

      .js {
        background-color: yellow;
      }

      .ts {
        color:white;
        background-color: dodgerblue;
      }

      .es2015 {
        background-color: darkorange;
      }

    }


  }


  .slide-background.angular {
    background-size: contain;
    background: url("../../../img/pastpresentfuture/frameworks/background_angular.png") no-repeat bottom center,linear-gradient(145deg,#0D47A1,#42A5F5);
  }
}